@font-face {
    font-weight: 300;
    font-family: "Pretendard-Thin";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format("woff");
}

@font-face {
    font-weight: 300;
    font-family: "Pretendard-Light";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
}

@font-face {
    font-weight: 400;
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
}

@font-face {
    font-weight: 500;
    font-family: "Pretendard-Medium";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
}

@font-face {
    font-weight: 600;
    font-family: "Pretendard-SemiBold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
}

@font-face {
    font-weight: 700;
    font-family: "Pretendard-Bold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
}

@font-face {
    font-weight: 800;
    font-family: "Pretendard-ExtraBold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff") format("woff");
}

@font-face {
    font-weight: 300;
    font-family: "Pretendard-Black";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff") format("woff");
}

* {
    box-sizing: content-box;
}

html,
body {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
    -ms-overflow-style: none;
    /* 인터넷 익스플로러 */
    scrollbar-width: none;
    /* 파이어폭스 */

    font-size: 16px;
}

body::-webkit-scrollbar {
    display: none;
}


main,
div,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

ol,
ul,
li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

#nav {
    float: left;
    width: 15%;
}

#container {
    float: right;
    width: 85%;
    height: 93vh;
    background-color: #f0f0f0;
    border-top: 7vh solid #fafafa;
}

#club-info {
    margin: 4vh 0 0 8vw;
}

#title {
    font-family: "Pretendard-Bold";
    font-size: 2rem;
    margin-bottom: 1vh;
}

#search-bar{
    width: 70vw;
    height: 8vh;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 2vh;
}

#search-title {
    display: inline-block;
    font-family: "Pretendard-Regular";
    margin-bottom: 1vh;
}

#campus-select {
    width: 10vw;
    height: 3vh;
    border: 1px solid #d0d0d0;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-right: 1vw;  
}

#property-select {
    width: 10vw;
    height: 3vh;
    border: 1px solid #d0d0d0;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-right: 1vw;  
}

#club-name {
    width: 20vw;
    height: 3vh;
    border: 1px solid #d0d0d0;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-right: 1vw;  

}

#search {
    font-family: "Pretendard-SemiBold";
    border : 0;
    width: 3vw;
    height: 3vh;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-right: 1vw;  
    color: white;
    background-color: rgb(64, 188, 203);
}

#search:hover {
    cursor: pointer;
}

#search-result {
    font-family: "Pretendard-SemiBold";
    font-size: 1.2rem;
    margin-bottom: 1vh;
    margin-top: 3vh;
}

.search-result {
    font-family: 'Pretendard-SemiBold';
    width: 65vw;
    height: 6vh;
    border-radius: 1rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    background-color: #d0d0d0;
    color: white;
    margin-bottom: 2vh;
}

.left-result {
    float: left;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
}

.club-campus{
    background-color:rgb(64, 188, 203);
    width: 5vw;
    text-align: center;
    height:4vh;
    line-height: 4vh;
    border-radius: 0.5rem;
    margin-right: 0.5vw;
    margin-left: 0.3vw;
}
.club-property {
    background-color:rgb(64, 188, 203);
    width: 5vw;
    text-align: center;
    height:4vh;
    border-radius: 0.5rem;
    margin-right: 1vw;
    line-height: 4vh;
}
.club-name {
    font-family: "Pretendard-Bold";
    font-size: 1.2rem;
    float: left;
    color: black;
}
.club-join {
    float: right;
    font-family: "Pretendard-Bold";
    background-color: rgb(64, 188, 203);
    width: 5vw;
    text-align: center;
    height:4vh;
    border-radius: 0.5rem;
    margin-right: 0.5vw;
    line-height: 4vh;
    color: white;
}

.club-join:hover {
    cursor: pointer;
}
