@font-face {
    font-weight: 300;
    font-family: "Pretendard-Thin";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format("woff");
}

@font-face {
    font-weight: 300;
    font-family: "Pretendard-Light";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
}

@font-face {
    font-weight: 400;
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
}

@font-face {
    font-weight: 500;
    font-family: "Pretendard-Medium";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
}

@font-face {
    font-weight: 600;
    font-family: "Pretendard-SemiBold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
}

@font-face {
    font-weight: 700;
    font-family: "Pretendard-Bold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
}

@font-face {
    font-weight: 800;
    font-family: "Pretendard-ExtraBold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff") format("woff");
}

@font-face {
    font-weight: 300;
    font-family: "Pretendard-Black";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff") format("woff");
}

* {
    box-sizing: content-box;
}

html,
body {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
    -ms-overflow-style: none;
    /* 인터넷 익스플로러 */
    scrollbar-width: none;
    /* 파이어폭스 */

    font-size: 16px;
}

body::-webkit-scrollbar {
    display: none;
}


main,
div,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

ol,
ul,
li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

#nav {
    float: left;
    width: 15%;
    line-height: 100vh;
    text-align: center;
    font-family: 'Pretendard-Bold';
    background-color: #CCFEFE;
    font-size: 1.2rem;
}

#container {
    float: right;
    width: 85%;
    height: 93vh;
    background-color: #F4F5F8;
    border-top: 7vh solid #fafafa;
}

#club-info {
    margin: 4vh 0 0 8vw;
}

#title {
    font-family: "Pretendard-Bold";
    font-size: 2rem;
    margin-bottom: 1vh;
}
#modal-background{
    position: fixed;
    top:0; left: 0; bottom: 0; right: 0;
    background: rgba(0, 0, 0, 0.6);
}

#apply-btn{
    font-family: "Pretendard-SemiBold";
    display: flex;
    width: 5vw;
    height: 3vh;
    font-size: 1rem;
    text-align: center;
    line-height: 3vh;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-right: 12vw;
    color: white;
    background-color: rgb(64, 188, 203);
    float: right;
    justify-content: space-evenly;
}

.plus-image{
    display: absolute;
    background-image: url("../image/plus.png");
    background-size: cover;
    width: 1.4rem;
    height: 1.4rem;
    margin-left: 0.3rem;
}

#apply-text {
    display: inline-block;
    font-size: 1.2rem;
}

#apply-btn:hover {
    cursor: pointer;
}

#club-apply-btn {
    font-family: "Pretendard-SemiBold";
    width: 5vw;
    height: 3vh;
    font-size: 1rem;
    text-align: center;
    line-height: 3vh;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: white;
    float: right;
    margin-right: 4vw;
    margin-top: 1.5vh;
    background-color: rgb(64, 188, 203);
}

#search-bar{
    width: 70vw;
    height: 8vh;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 2vh;
}

#apply-title {
    font-family: "Pretendard-Bold";
    font-size: 1.4rem;
    padding-bottom: 3vh;
    padding-top: 3vh;
    padding-left: 3vw;
    text-align: left;
    border-bottom: #8a8a8a 1px solid;
    justify-content: space-between;
}

#ser-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 3vw 0 3vw;
}

#search-title {
    display: inline-block;
    font-family: "Pretendard-Regular";
    font-size: 0.8rem;
    color: #8a8a8a;
    margin-bottom: 1vh;
}

#campus-select {
    width: 15vw;
    height: 3vh;
    border: 1px solid #d0d0d0;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-right: 1vw;  
}

#property-select {
    width: 15vw;
    height: 3vh;
    border: 1px solid #d0d0d0;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-right: 1vw;  
}

#club-name {
    width: 32vw;
    height: 3vh;
    border: 1px solid #d0d0d0;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-right: 1vw;  
}

#fighting {
    width: 32vw;
    height: 24vh;
    border: 1px solid #d0d0d0;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-right: 1vw;  
    margin-top: 1vh;
    font-family: 'Pretendard-SemiBold';
    resize: none;
}

#search {
    font-family: "Pretendard-SemiBold";
    border : 0;
    width: 3vw;
    height: 3vh;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-right: 1vw;  
    color: white;
    background-color: rgb(64, 188, 203);
}

#search:hover {
    cursor: pointer;
}

#search-result {
    font-family: "Pretendard-SemiBold";
    font-size: 1.2rem;
    margin-bottom: 1vh;
    margin-top: 3vh;
}

.search-result {
    font-family: 'Pretendard-SemiBold';
    width: 65vw;
    height: 6vh;
    border-radius: 1rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    background-color: #d0d0d0;
    color: white;
    margin-bottom: 2vh;
}

#apply-modal {
    position:absolute;
    top:50%; 
    left:30%;
    width:40vw;  
    height:60vh; 
    text-align: center;
    background-color: rgb(255,255,255); 
    border-radius:10px; 
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15); 
    transform:translateY(-50%);
}

.apply-club {
    width: 65vw;
    height: 12vh;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Pretendard-SemiBold';
}

.upside {
    width: 100%;
    height: 49%;
    display: flex;
    align-items: center;
}

.middleside {
    width: 100%;
    height: 1px;
    display: flex;
    align-items: center;
    background-color: #E7E7E7;
}

.downside {
    width: 100%;
    height: 49%;
    display: flex;
    align-items: center;
}

.club-campus{
    width: 3vw;
    height: 1.5vh;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-left: 1vw;  
    margin-right: 0.5vw;  
    flex-grow: unset;
    text-align: center;
    font-size: 0.8rem;
    color: #24ABE0;
    background-color: #CCFEFE;
}
.club-property{
    width: 3vw;
    height: 1.5vh;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-right: 1vw;  
    flex-grow: unset;
    font-size: 0.8rem;
    text-align: center;
    background-color: #DDF9E4;
    color: #225908;
}
.club-name{
    font-family: 'Pretendard-Bold';
    height: 3vh;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.3rem;
    margin-right: 1vw;  
    flex-grow: 1;
}
.apply-date{
    font-family: 'Pretendard-Bold';
    width: 13vw;
    height: 3vh;
    border-radius: 0.5rem;
    margin-left: 0.8vw;  
    padding: 0.5rem;
    font-size: 1.2rem;
    line-height: 3vh;
    margin-right: 1vw;  
    flex-grow: unset;
}
.apply-result{
    font-family: 'Pretendard-Bold';
    width: 10vw;
    line-height: 3vh;
    font-size: 1.2rem;
    height: 3vh;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-right: 1vw;  
    flex-grow: unset;
}
