{% load static %}
<html>
  <head>
    <title>동아리 현황</title>
    <link rel="stylesheet" href="{% static 'css/club_status.css' %}" />
    <script src="{% static 'js/club_status.js' %}" defer></script>
  </head>
  <body>
    <div id="nav">
      <img
        style="width: 10vw"
        src="{% static '/image/gnu_logo.jpg' %}"
        alt=""
      />
      <ul>
        <li>교육</li>
        <li>연구</li>
        <li>업적/취업</li>
        <li>대학생활</li>
        <li>GNU Today</li>
        <li>대학소개</li>
      </ul>
    </div>
    <div id="container">
      <div id="header"></div>
      <div id="section">
        <div id="Title">동아리 홍보 게시판</div>
        <div id="compus-path">
          <!-- 학교 선택 -->
          <ul>
            <li class="campusBtn checked">경상국립대학교(가좌캠퍼스)</li>
            <li class="campusBtn">경상국립대학교(칠암캠퍼스)</li>
          </ul>
        </div>
        <div id="subTitle">동아리 등록현황</div>
        <div id="article">
          <!-- 동아리 등록 현황 -->
        </div>
        <div id="article-description">
          <!-- 동아리 등록 현황 담당자 내용 -->
                <div class="description-title">담당자: 백종화</div>
                <div class="description-content">게재된 내용 및 운영에 대한 개선사항이 있으면 자료관리 담당자에게 연락하시길 바랍니다.</div>
      </div>
    </div>
    <div id="footer"></div>
  </body>
</html>
